/* 
font: Spoqa Han Sans Neo
기본폰트크기 : 16px
기본폰트색상 : background: #000;
기본배경색상 : background: #fff;
기본줄간격 : 20.03px
전체컨테이너 : width:100%
컨텐츠영역 : width:1280px */

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'SpoqaHanSansNeo', sans-serif, Verdana;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background: #fff;
  color: #000;
  margin: 0;
  line-height: 20.03px;
  height: 100vh;
  display: flex;
}
a {
  text-decoration: none;
}

/* Header */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: (242, 233, 216, 1);
  position: relative;
}
header {
  width: 100vw;
  background: rgba(242, 233, 216, 1);
}
nav {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 102px;
  background: rgba(242, 233, 216, 1);
}
header nav .logo {
  flex: 1;
}
header nav .nav-link {
  flex: 1;
  text-align: right;
}
header nav .logo img {
  width: 130px;
  height: 40px;
  top: 31px;
}

header > nav .nav-link a {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  color: #000;
}
header > nav .nav-link a:nth-child(1),
header > nav .nav-link a:nth-child(2) {
  width: 46px;
  height: 20px;
  font-family: 'SpoqaHanSansNeo';
  text-align: left;
}
header > nav .nav-link a:nth-child(3) {
  margin-right: 40px;
  width: 62px;
  height: 20px;
  font-family: 'SpoqaHanSansNeo';
  text-align: left;
}
header > nav .nav-link button {
  width: 140px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: 'SpoqaHanSansNeo';
  font-weight: 700;
  cursor: pointer;
  top: 26px;
  left: 1460px;
  border-radius: 40px;
  text-align: center;
  background-color: rgba(217, 118, 82, 1);
}

/* Section : intro */

main {
  width: 100vw;
}
main .intro {
  width: 100%;
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(242, 233, 216, 1);
}
main section .heading {
  width: 1280px;
  margin: auto;
  height: 798px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* justify-content: space-between; */
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.heading > h1 {
  /* position: absolute; */
  width: 737px;
  height: 120px;
  top: 304px;
  left: 320px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 48px;
  font-weight: 700;
  line-height: 60.1px;
  /* text-align: left; */
  color: #000;
}
.heading p {
  /* position: absolute; */
  width: 439px;
  height: 86px;
  top: 464px;
  left: 320px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: left;
  color: #000;
}
.heading button {
  /* position: absolute; */
  width: 140px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  top: 590px;
  left: 320px;
  border-radius: 40px;
  background: rgba(217, 118, 82, 1);
}
.heading img {
  position: absolute;
  width: 415px;
  height: 766px;
  top: 136px;
  left: 865px;
}

/* ##### article ##### */

/* about */

main article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}
article .about {
  width: 100%;
  margin-left: 320;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article .about .cat-one {
  width: 1280px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
article .about .cat-one img {
  width: 660px;
  height: 390px;
  top: 1060px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
  background-attachment: fixed;
}

article .about .cat-one h2 {
  width: 510px;
  height: 135px;
  top: 1152px;
  left: 1090px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 36px;
  font-weight: 700;
  line-height: 45.07px;
  text-align: left;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 1);
}
article .about .cat-one p {
  width: 510px;
  height: 40px;
  top: 1317px;
  left: 1090px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

/* support */

article .support {
  width: 100vw;
}
article .support .watch {
  width: 1280px;
  height: 998px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
article .support .watch h2 {
  width: 929px;
  height: 60px;
  top: 1570px;
  left: 496px;
  margin: 40px 0;
  font-family: 'SpoqaHanSansNeo';
  font-size: 48px;
  font-weight: 700;
  line-height: 60.1px;
  text-align: center;
  color: rgba(217, 118, 82, 1);
}
article .support .watch p {
  width: 739px;
  height: 42px;
  top: 1670px;
  left: 591px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
article .support .watch p span {
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 700;
  line-height: 20.03px;
  text-align: center;
  margin-bottom: -2px;
  color: rgba(217, 118, 82, 1);
}
article .support .watch .wrap {
  display: flex;
  gap: 72px;
  margin: 90px 0;
}

.wrap > a > img:nth-child(1),
.wrap > a > img:nth-child(2),
.wrap > a > img:nth-child(3) {
  width: 378px;
  height: 378px;
  top: 1800px;
  left: 320px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

article .support .watch .learn-more {
  width: 938px;
  height: 64px;
  top: 2268px;
  left: 491px;
  border-radius: 40px;
  display: flex;
}
article .support .watch .learn-more p {
  width: 739px;
  height: 64px;
  top: 2268px;
  left: 491px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
article .support .watch .learn-more button {
  width: 147px;
  height: 50px;
  top: 2275px;
  left: 1282px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background: rgba(217, 118, 82, 1);
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 700;
  line-height: 20.03px;
  text-align: center;
  color: #fff;
  margin: 7px 0 7px 52px;
}

/* download */

.subEmail {
  width: 100vw;
  height: 340px;
  top: 2528px;
  display: flex;
  flex-direction: column;
}
.subEmail .subscribe {
  width: 1280px;
  height: 200px;
  top: 2422px;
  left: 320px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: -100px;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  background: rgba(38, 49, 64, 1);
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}
.subEmail .subscribe .blog-post {
  width: 491px;
  height: 100px;
  top: 50px;
  left: 58px;
  margin-left: 58px;
}
.subEmail .subscribe .blog-post h2 {
  width: 466px;
  height: 46px;
  top: 50px;
  left: 58px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 36px;
  font-weight: 700;
  line-height: 45.07px;
  text-align: left;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 1);
}
.subEmail .subscribe .blog-post p {
  width: 491px;
  height: 36px;
  top: 114px;
  left: 58px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 14px;
  font-weight: 400;
  line-height: 17.53px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

/* form부분 */

.subscribe form {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 200px;
  top: 2422px;
  left: 320px;
}
.subscribe form input[type='text'] {
  width: 530px;
  height: 60px;
  top: 70px;
  left: 692px;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  border-radius: 60px;
  background: #fff url(../img/mail.svg) no-repeat center left 30px;
}
.subscribe form input[type='submit'] {
  width: 136px;
  height: 50px;
  top: 75px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  margin-left: -141px;
  margin-right: 5px;
  box-sizing: border-box;
  background: rgba(217, 118, 82, 1);
  color: #fff;
  font-family: 'SpoqaHanSansNeo';
  font-size: 16px;
  font-weight: 700;
  line-height: 20.03px;
}

/* 고양이 사진 */

.bg-cat {
  width: 100vw;
  height: 340px;
  background-image: url(../img/img_5.jpg);
  background-position: 0 35%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 60%;
  margin-top: 4px;
  margin-left: -32px;
  z-index: 0;
}

/* scroll top */

.scrollTop {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: right;
}
.scrollTop img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2730px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.8;
  z-index: 100;
}
.scrollTop img:hover {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2730px;
  border-radius: 50%;
  opacity: 1;
}

/* modal */

#modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  width: 600px;
  height: 400px;
  top: -526px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  z-index: 1000;
}

#modal .modalContent {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/modal-bg-img.png) no-repeat;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  position: absolute;
  animation: slidefade 0.45s linear;
}
#modal .modalContent img {
  position: absolute;
  width: 110px;
  height: 112px;
  top: 60px;
  left: 245px;
}
#modal .modalContent h2 {
  position: absolute;
  width: 212px;
  height: 46px;
  top: 196px;
  left: 194px;
  font-family: 'SpoqaHanSansNeo';
  font-size: 36px;
  font-weight: 700;
  line-height: 45.07px;
  text-align: center;
  color: rgba(217, 118, 82, 1);
}
#modal .modalContent p {
  position: absolute;
  width: 383px;
  height: 18px;
  top: 254px;
  left: 108px;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.53px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.btn-go {
  position: absolute;
  width: Hug (189px) px;
  height: Hug (50px) px;
  top: 310px;
  left: 205px;
  padding: 15px 29px 15px 29px;
  gap: 10px;
  cursor: pointer;
  border-radius: 40px;
  background: rgba(217, 118, 82, 1);
}
.btn-go span {
  width: 131px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.03px;
  color: rgba(255, 255, 255, 1);
  font-family: 'SpoqaHanSansNeo';
}
@keyframes slidefade {
  0% {
    opacity: 0;
    margin-top: -300px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* 푸터 */

footer {
  width: 100vw;
  height: 160px;
}
.wrapper {
  width: 100%;
}
footer > div > div.footer_pc {
  width: 1280px;
  height: 160px;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 2868px;
}
.sns {
  display: flex;
  gap: 20px;
}
.sns img {
  width: 42px;
  height: 42px;
  background: #f29d52;
  border-radius: 100%;
  padding: 9px;
}
.footer_mobile {
  display: none;
  text-align: right;
}
