/* subscribe */
.subscribe-wrap {
    padding: 50px 60px;
    border-radius: 30px;
    background-color: #263140;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    margin: 0 320px 0;
    align-items: center;
}
.subscribe-wrap .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #fff;
}
.subscribe-wrap .text-wrap .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
}
.subscribe-wrap .text-wrap .text {
    font-size: 16px;
    line-height: 1.4;
}
form {
    flex-grow: 1;
}
label {
    display: none;
}
.email-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    color: #767676;
    padding: 0 5px 0 28px;
    box-sizing: border-box;
    border-radius: 40px;
    width: 100%;
    height: 60px;
}
label img {
    width: 24px;
    height: 24px;
}
input[type='email'] {
    width: 100%;
}
.subscribe-bg-wrap {
    position: relative;
    padding-bottom: 200px;
}
.bg-img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -1;
    bottom: 0;
}
